//
// Buttons
// --------------------------------------------------


.btn {
  display: inline-block;
  background: $btn-bg;
  color: $btn-color;
  padding: $btn-padding;
  margin-right:$spacing-h;
  font-size: 1em;
  font-family: $btn-font;
  font-weight: bold;
  text-transform: uppercase;
  border: .15em solid $btn-border-color;
  border-radius: $btn-border-radius;
  vertical-align: middle;
  line-height: 1.25em;
  cursor: pointer;
  width: auto;

  &:hover, 
  &:focus,
  &.active  {
    color: $btn-hover-color;
    border-color: $btn-hover-border-color;
    background: $btn-hover-bg;
  }

  &:disabled,
  &.disabled {
    color: $btn-disabled-color;
    border-color: $btn-disabled-border-color;
    background: $btn-disabled-bg;
  }
}