//
// Header
// --------------------------------------------------

.header {
    background: #f0d2c9;
    @include clearfix();
}

.logo {
  font-size:1.5em;
  font-family: $font-hand;
  font-weight: lighter;
  text-transform: lowercase;
  color:$white;

  &:before {
    content: "";
  }
}

.btn-back {
  padding:0 0.5em;
  margin-left: -0.5em;
  display: inline-block;

  // &:before {
  //   content:"\ffe9";
  //   font-size:0.75em;
  //   margin-right: 0.25em;
  // }

  &:hover {
    color:$white;
    background:rbga(255,255,255,0.5);
  }

  img {
    width: 3.5em;
    margin:.25em 0;
  }
}