//
// Product
// --------------------------------------------------

.product-meta {
    border-bottom: 0.15em solid $brand-primary;
    line-height: 1.9em; 

    .btn {
        margin: 0;
        float: right;
    }
}