@import url(css/normalize.css);
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  background: white;
  min-width: 20em;
  margin: 0;
  line-height: 1.5;
  font-size: 1em; }
  @media only screen and (min-width: 60em) {
    body {
      font-size: 1.25em; } }

.wrapper {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 60em; }
  .wrapper:before, .wrapper:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .wrapper:after {
    clear: both; }
  @media only screen and (min-width: 30em) {
    .wrapper {
      padding: 0 24px; } }
  @media only screen and (min-width: 50em) {
    .wrapper {
      padding: 0 32px; } }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px; }
  .container:before, .container:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .container:after {
    clear: both; }

.row {
  margin-left: -16px;
  margin-right: -16px; }
  .row:before, .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after {
    clear: both; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px; }

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

@media (min-width: 30em) {
  .container {
    max-width: 752px; }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; } }
@media (min-width: 50em) {
  .container {
    max-width: 972px; }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-offset-0 {
    margin-left: 0; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; } }
@media (min-width: 60em) {
  .container {
    max-width: 1172px; }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-offset-0 {
    margin-left: 0; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; } }
@media (min-width: 30em) {
  .row {
    margin-bottom: 16px; } }

body {
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #666666;
  font-weight: 300; }

.js .web-font, .js h1, .js h2, .js h3, .js h4, .js h5, .js h6, .wf-loading .web-font, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6 {
  opacity: 0; }
.wf-active .web-font, .wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-inactive .web-font, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive h6 {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out; }
.lt-ie7.wf-loading .web-font, .lt-ie7.wf-loading h1, .lt-ie7.wf-loading h2, .lt-ie7.wf-loading h3, .lt-ie7.wf-loading h4, .lt-ie7.wf-loading h5, .lt-ie7.wf-loading h6 {
  visibility: hidden; }
.lt-ie7.wf-active .web-font, .lt-ie7.wf-active h1, .lt-ie7.wf-active h2, .lt-ie7.wf-active h3, .lt-ie7.wf-active h4, .lt-ie7.wf-active h5, .lt-ie7.wf-active h6, .lt-ie7.wf-inactive .web-font, .lt-ie7.wf-inactive h1, .lt-ie7.wf-inactive h2, .lt-ie7.wf-inactive h3, .lt-ie7.wf-inactive h4, .lt-ie7.wf-inactive h5, .lt-ie7.wf-inactive h6 {
  visibility: visible; }

p, ul, ol, dd,
img, pre, blockquote,
fieldset, legend, .form-row,
.btn,
button {
  margin: 0;
  margin-bottom: 16px; }

form, figure, table,
.product-list-item,
.product-page {
  margin-bottom: 32px; }
  @media (min-width: 30em) {
    form, figure, table,
    .product-list-item,
    .product-page {
      margin-bottom: 36px; } }
  @media (min-width: 50em) {
    form, figure, table,
    .product-list-item,
    .product-page {
      margin-bottom: 40px; } }
  @media (min-width: 60em) {
    form, figure, table,
    .product-list-item,
    .product-page {
      margin-bottom: 48px; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 4px; }
  @media (min-width: 30em) {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 36px;
      margin-bottom: 8px; } }
  @media (min-width: 50em) {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 40px;
      margin-bottom: 12px;
      text-rendering: optimizeLegibility; } }
  @media (min-width: 60em) {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 48px;
      margin-bottom: 16px; } }

a {
  color: #bb9b5b;
  text-decoration: none; }
  a:hover {
    color: #a18142; }
  a:active, a:focus {
    color: #a18142; }
  p a {
    padding: 0.5em;
    margin: -0.5em;
    text-decoration: underline; }
    p a:hover {
      text-decoration: none;
      background: 1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #444444;
  font-weight: 900;
  line-height: 1;
  text-transform: none; }
  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
    margin-top: 0; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.page-title {
  font-size: 3.5em;
  line-height: 1;
  border-bottom: 0.15em solid #444444;
  padding-bottom: 0.25em; }

.lead {
  font-size: 1.5em;
  line-height: 1.25em; }

ul,
ol {
  list-style-position: outside;
  padding-left: 2em; }

li ul,
li ol {
  padding-left: 1.5em; }

ol ol {
  list-style: lower-alpha; }

nav li {
  list-style: none; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

blockquote,
figure p {
  padding-left: 1.5em;
  border-left: 1em solid #f2f2f2;
  font-family: "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: italic; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite,
figcaption {
  font-style: italic; }

figcaption {
  font-size: 0.75em;
  color: #aaaaaa; }

table {
  width: 100%; }

tr > td, tr > th {
  border: 0;
  border-bottom: 1px solid #cccccc;
  padding: 0.5em;
  padding-left: 0; }

th,
table caption {
  text-align: left;
  color: #444444; }

table caption {
  font-size: 1.25em;
  margin-top: 2rem; }

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 2rem 0;
  border-top: 1px solid #cccccc;
  padding: 0; }

abbr[title] {
  border-bottom: 1px dotted #cccccc;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #fef8a6;
  color: #666666;
  text-decoration: none;
  padding: .25em;
  margin: -.25em 0; }

s, del {
  text-decoration: line-through;
  color: #aaaaaa; }

mark {
  background: none;
  border-bottom: 0.25em solid #f2f2f2;
  color: #666666;
  font-style: italic;
  font-weight: bold;
  margin: -.25em 0; }

pre,
code,
kbd,
samp {
  font-family: courier, "courier new", monospace;
  line-height: 1.5;
  background: #f2f2f2; }

pre {
  padding: 0.5em 1em;
  border-radius: 0.25em; }

p code,
p samp,
p kbd {
  padding: .25em;
  margin: -.25em 0;
  border-radius: 0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 0.75em; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: 1.5; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  height: auto; }

input,
select,
textarea {
  font-size: 1em;
  color: #666666;
  font-weight: 300;
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  border: 0.15em solid #cccccc;
  padding: 0.5em 0;
  background-color: white; }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #444444;
    color: #444444;
    background: white; }
  input[disabled],
  input .disabled,
  select[disabled],
  select .disabled,
  textarea[disabled],
  textarea .disabled {
    background: #f2f2f2;
    cursor: not-allowed; }

input,
select,
textarea {
  width: 100%; }
  @media (min-width: 30em) {
    input,
    select,
    textarea {
      width: 50%; } }

fieldset {
  border: 0;
  padding: 0; }

textarea {
  resize: vertical;
  width: 100%;
  padding: 0.5em 0 0 0.5em; }

legend {
  margin-top: 2rem;
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: none;
  color: #444444; }

label {
  padding: 0.25em 0;
  display: block;
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #444444;
  line-height: 1.25em; }
  label + input,
  label + select,
  label + textarea {
    margin-bottom: 16px; }
    fieldset label + input, .form-row label + input, .form-horizontal label + input, fieldset
    label + select, .form-row
    label + select, .form-horizontal
    label + select, fieldset
    label + textarea, .form-row
    label + textarea, .form-horizontal
    label + textarea {
      margin-bottom: 0; }

input {
  text-indent: 0.5em; }

input[type="checkbox"],
input[type="radio"] {
  min-width: 1em;
  width: 1em;
  height: 1em;
  margin: 0;
  margin-right: 0.5em; }

.btn > input[type="checkbox"], button > input[type="checkbox"],
.btn > input[type="radio"],
button > input[type="radio"] {
  margin-left: -0.5em; }

.checkbox-inline, .radio-inline {
  display: inline-block;
  float: left;
  margin-right: 2em; }

input[type="range"] {
  border: none;
  margin-left: 0;
  margin-right: 0; }
  input[type="range"]:focus {
    background: none; }

input[type="color"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"] {
  width: 25%; }

select {
  padding: 0.5em 0.5em;
  height: 2.5em; }
  select option {
    padding: 0.5em;
    border-bottom: 1px solid #cccccc; }
    select option:focus, select option:checked {
      background: #d9c7a3; }

select[multiple] {
  padding: 0;
  height: auto; }
  select[multiple] option {
    padding: 0.5em;
    height: 2.5em; }

@media (min-width: 30em) {
  .form-horizontal label {
    float: left;
    width: 25%;
    padding: 0.5em 0; }
  .form-horizontal textarea {
    width: 75%; }
  .form-horizontal button {
    margin-left: 25%; } }

.btn, button {
  display: inline-block;
  background: white;
  color: #d9c7a3;
  padding: 0.25em 1em;
  margin-right: 16px;
  font-size: 1em;
  font-family: "josefin sans", "Merriweather Sans", "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border: 0.15em solid #d9c7a3;
  border-radius: 0;
  vertical-align: middle;
  line-height: 1.25em;
  cursor: pointer;
  width: auto; }
  .btn:hover, button:hover, .btn:focus, button:focus, .btn.active, button.active {
    color: #d2bc91;
    border-color: #d2bc91;
    background: #faf7f2; }
  .btn:disabled, button:disabled, .btn.disabled, button.disabled {
    color: #cccccc;
    border-color: #cccccc;
    background: #eeeeee; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.vishid {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.vishid.focusable:active,
.vishid.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

::-moz-selection {
  background: #d2bc91;
  text-shadow: none;
  color: #222222; }

::selection {
  background: #d2bc91;
  text-shadow: none;
  color: #222222; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.header {
  background: #d9c7a3; }
  .header:before, .header:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .header:after {
    clear: both; }

.logo {
  font-size: 2em;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: lighter;
  text-transform: lowercase;
  color: white; }
  .logo:before {
    content: ""; }

.btn-back {
  padding: 0 0.5em;
  margin-left: -0.5em;
  display: inline-block; }
  .btn-back:before {
    content: "\ffe9";
    font-size: 0.75em;
    margin-right: 0.25em; }
  .btn-back:hover {
    color: white;
    background: #e0d2b5; }

.footer {
  background: #f7f3eb;
  padding: 16px 0; }
  .footer:before, .footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .footer:after {
    clear: both; }

.product-meta {
  border-bottom: 0.15em solid #d9c7a3;
  line-height: 1.9em; }
  .product-meta .btn, .product-meta button {
    margin: 0;
    float: right; }

.product-list {
  margin-top: 16px; }
  .product-list:before, .product-list:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .product-list:after {
    clear: both; }
  .product-list .list-title {
    color: #aaaaaa;
    font-weight: normal;
    margin-bottom: 16px; }
  @media (min-width: 30em) {
    .product-list {
      margin-left: -16px;
      margin-right: -16px; }
      .product-list .list-title {
        padding: 0 16px; } }

@media (min-width: 30em) {
  .product-list-item {
    width: 50%;
    float: left;
    padding: 16px 16px; } }
@media (min-width: 50em) {
  .product-list-item {
    width: 33%; } }
.product-list-item .product-title {
  font-size: 1.25em;
  margin-top: 0; }

.modal {
  display: none; }
  .modal:target {
    display: block; }
  .modal .modal-content {
    max-width: 40em;
    border-top: 1px dotted #d9c7a3; }

.hero-header {
  text-align: center; }
  .hero-header .logo {
    font-size: 4em; }
  .hero-header .strap {
    font-size: 1.5em; }
  @media (min-width: 30em) {
    .hero-header {
      text-align: left; }
      .hero-header .logo, .hero-header .strap {
        float: left;
        width: 60%; }
      .hero-header .logo {
        margin-left: 0.15em; }
      .hero-header .strap {
        font-size: 2.5em;
        font-size: 7vmin; }
      .hero-header .hero-image {
        max-width: 25%;
        margin-left: 12%;
        margin-top: 1em; } }

.hero-image {
  max-width: 40%;
  margin-bottom: 0; }

.strap {
  text-transform: uppercase;
  font-weight: 100; }

.product-page .product-title {
  font-size: 1.5em;
  margin-bottom: 16px; }
@media (min-width: 50em) {
  .product-page {
    padding: 0 16px;
    padding-left: 32px; }
    .product-page .product-title {
      font-size: 2.25em;
      margin-bottom: 32px; }
    .product-page .product-details,
    .product-page .product-images {
      float: left; }
    .product-page .product-details {
      width: 30%; }
    .product-page .product-images {
      width: 68%;
      margin-left: 2%; } }

.product-images {
  margin-top: 32px;
  margin-left: -16px;
  margin-right: -16px; }
  @media (min-width: 50em) {
    .product-images {
      margin: 0; }
      .product-images img {
        margin-bottom: 32px; } }
