//
// Homepage
// --------------------------------------------------

.hero-header {
    text-align: center;
    border-bottom:1em solid $brand-secondary;

    .logo {
        font-size: 2em;

        img {
            max-width: 50%;
            width:7em;
        }
    }

    .strap {
        font-size: 2em;
        br {
            display: none;
        }
    }

    @media (min-width: $screen-sm) {
        text-align: left;

        .logo, .strap {
            float: left;
            width: 60%;
        }

        .logo {
            margin-left: -0.25em;
            img {
                max-width: 60%;
                width:5em;
            }
        }

        .strap {
            font-size: 3em;
            br {
                display: block;
            }
        }

        .hero-image {
            max-width: 27%;
            margin-left: 10%;
            margin-top: 1em;
        }

    }

    @media (min-width: $screen-md) {

        .logo {
            font-size: 3em;
            img {
                max-width: 50%;
            }
        }

        .strap {
            font-size: 5em;
            br {
                display: block;
            }
        }
    }
}

.hero-image {
    max-width: 40%;
    margin-bottom: 0;
}

.strap {
    font-weight: 100;
}